/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 2em;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
}

#map.gl {
  width: 90vw;
  height: 70vw;
  
  position:absolute;
  top: 4em;
  left:2em;
  overflow:hidden;
  padding: 0;
}

/* for cesium *UGH* */
#map {
  width: 800px;
  height: 800px;
  
  position:absolute;
  top: 4em;
  left:2em;
  overflow:hidden;
  padding: 0;
  
}
#toolbar {
  position:absolute;
  padding: 2px 5px;
}
